<!-- Permanent Global Tab Icon -->
<link rel="icon" type="image/jpeg" href="{{ site.baseurl }}/images/profile.jpg?v=2">
<link rel="shortcut icon" type="image/jpeg" href="{{ site.baseurl }}/images/profile.jpg?v=2">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/images/profile.jpg?v=2">

<!-- OpenGraph (Social Embeds Everywhere) -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.excerpt | strip_html | default: site.description }}">
<meta property="og:image" content="{{ site.url }}/images/profile.jpg">
<meta property="og:url" content="{{ page.url | absolute_url }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:description" content="{{ page.excerpt | strip_html | default: site.description }}">
<meta name="twitter:image" content="{{ site.url }}/images/profile.jpg">